@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.App {
  text-align: center;
  font-size: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center-container {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  width: 50%;
  text-align: center;
}

.textarea {
  width: 100%;
  height: 100px;
  outline: 1px solid gray;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.textarea::placeholder {
  font-family: 'Montserrat', sans-serif;
  opacity: 1;
  font-size: 16px;
}

.question {
  font-size: 16px; /* Adjust the font size as needed */
  margin-bottom: 20px; /* Space between the question and the textbox */
  color: black; /* Text color */
  display: flex;
  align-items: center;
  font-size: 20px;
}

.number {
  background-color: black;
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; /* Makes the shape a circle */
  margin-right: 10px;
}

.submit-button {
  background-color: black; /* Button background */
  color: white; /* Text color */
  padding: 10px 20px; /* Adjust the padding as needed */
  font-size: 18px; /* Adjust font size as needed */
  border: none; /* Removes the default border */
  border-radius: 5px; /* Optional: for rounded corners */
  cursor: pointer; /* Changes the cursor on hover */
  transition: background-color 0.3s; /* Optional: for a smooth color transition effect */
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

.submit-button:hover {
  background-color: #333; /* Slightly lighter black on hover */
  font-family: 'Montserrat', sans-serif;
}

.scrolling-image {
  width: 400px; /* or set a specific width */
  height: auto; /* maintain aspect ratio */
  display: block; /* to remove any default margins/paddings */
  margin: 20px 0; /* optional, for spacing around the image */
  margin-top: 800px; /* Adds space below the image */
  margin-bottom: 20px; /* Adds space below the image */
  border-radius: 10px; /* Adjust this value to control the roundness */
}

body {
  font-family: 'Montserrat', sans-serif; /* Fallback to sans-serif */
}

.result-display {
  padding-bottom: 50px; /* Adjust this value as needed */
  /* Add any other styling you want for the result display */
}


